.cardContainerStyling{
    margin-top: 70px;
    max-width:800px;
    background-color: rgb(255, 188, 255);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}