<div class='canvasStyle'>
    <!--ng2-canvas-whiteboard-->
    <canvas-whiteboard #canvasWhiteboard
                        [drawButtonClass]="'drawButtonClass'"
                        [drawButtonText]="'Draw'"
                        [clearButtonClass]="'clearButtonClass'"
                        [clearButtonText]="'Clear'"
                        [undoButtonText]="'Undo'"
                        [undoButtonEnabled]="true"
                        [redoButtonText]="'Redo'"
                        [redoButtonEnabled]="true"
                        [colorPickerEnabled]="false"
                        [saveDataButtonEnabled]="false"
                        [saveDataButtonText]="'Save'"
                        [lineWidth]="5"
                        [strokeColor]="'rgb(0,0,0)'"
                        [shouldDownloadDrawing]="true"
                        (onBatchUpdate)="sendBatchUpdate($event)"
                        (onClear)="onCanvasClear()"
                        (onUndo)="onCanvasUndo($event)"
                        (onRedo)="onCanvasRedo($event)">
    </canvas-whiteboard>
</div>

<div class = 'entryContainer'>
    <h1 id='alertText'>{{alert}}</h1>
    <div [hidden]= buttonHidden>
        <button mat-raised-button color="accent" id='submitButton' (click)='pretrain()'>Train</button>
        <button mat-raised-button color="accent" id='submitButton' (click)='onSubmit()'>Predict</button>
        <button mat-raised-button color="accent" id='submitButton' (click)='onSave()'>Save</button>
        <button mat-raised-button color="accent" id='submitButton' (click)='restartNetwork()'>Restart</button>
    </div>
    
    <div [hidden]=correctHidden>
        <h2>Predicted Number: {{predictedNumber}}</h2>
        <h3 id="underline_text">Correct Value</h3>
        <mat-form-field>
            <mat-select [(value)]="correctNumber" placeholder="Select">
                <mat-option value=0>0</mat-option>
                <mat-option value=1>1</mat-option>
                <mat-option value=2>2</mat-option>
                <mat-option value=3>3</mat-option>
                <mat-option value=4>4</mat-option>
                <mat-option value=5>5</mat-option>
                <mat-option value=6>6</mat-option>
                <mat-option value=7>7</mat-option>
                <mat-option value=8>8</mat-option>
                <mat-option value=9>9</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="accent" id='submitButton' (click)='correctPrediction()'>Correct</button>
    </div>
</div>



