.canvasStyle {
    margin-left: 200px;
    margin-top: 100px;
    height: 600px;
    width: 600px;
    border-style: solid;
    border-width: 10px;
}

#submitButton {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
}
#alertText {
    color: rgb(199, 91, 181);
    font-family: 'Courier New', Courier, monospace;
}
.entryContainer {
    justify-content: center;
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

.entryContainer div{
    border-bottom: 1px solid black;
}
#underline_text{
    text-decoration: underline;
}
