<app-main-menu></app-main-menu>

<div class='canvasStyle'>
    <!--ng2-canvas-whiteboard-->
    <canvas-whiteboard #canvasWhiteboard
                        [drawButtonClass]="'drawButtonClass'"
                        [drawButtonText]="'Draw'"
                        [clearButtonClass]="'clearButtonClass'"
                        [clearButtonText]="'Clear'"
                        [undoButtonText]="'Undo'"
                        [undoButtonEnabled]="true"
                        [redoButtonText]="'Redo'"
                        [redoButtonEnabled]="true"
                        [colorPickerEnabled]="false"
                        [saveDataButtonEnabled]="false"
                        [saveDataButtonText]="'Save'"
                        [lineWidth]="5"
                        [strokeColor]="'rgb(0,0,0)'"
                        [shouldDownloadDrawing]="true"
                        (onBatchUpdate)="sendBatchUpdate($event)"
                        (onClear)="onCanvasClear()"
                        (onUndo)="onCanvasUndo($event)"
                        (onRedo)="onCanvasRedo($event)">
    </canvas-whiteboard>
    <button mat-raised-button color="accent" id='submitButton' (click)='onSubmit()'>Predict</button>
</div>



